// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sticky {
    position: relative;
}
.boxed.sticky.push-down-45 {
}
.boxed.sticky.push-down-45 {
}
.boxed {
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
}
.push-down-45 {
    margin-bottom: 45px;
}